@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  background: #000;
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 1s ease 0;
  transition: all 1s ease 0; }

p {
  color: #FFF;
  font-size: 14em;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 15% 0 0 0; }
