/* style.css */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body{
	background-color: #000;
	transition: background 1s ease 0;
}
p{
	font-family: 'Droid Sans Mono', serif;
	font-size: 9em;
	color: #FFF;
	text-align: center;
	border-bottom: 5px solid rgba(256,256,256,.3);
}